.text h2 {
  font-size: 2rem;
  line-height: 1.1;
  color: var(--color-8);
}
.rowItems {
  width: 100%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  grid-gap: 2rem;
  align-items: center;
  text-align: center;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerBox {
  height: 100%;
  box-shadow: -1px 2px 9px 0px rgba(62, 66, 66, 0.08);
  padding: 20px 0px;
  border: 1px solid hsl(210, 40%, 91%);
  border-radius: 4px;
  transition: all 0.6s ease 0s;
  cursor: pointer;

  .containerImage {
    color: var(--color-7);
    width: 85px;
    height: 85px;
    padding: 15px;
    box-shadow: -1px 2px 9px 0px rgba(62, 66, 66, 0.08);
    border-radius: 4px;
    margin-bottom: 1rem;
    background-color: hsl(210, 40%, 96%);
    cursor: pointer;
  }
  h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
}
.containerBox:hover {
  box-shadow: 5px 30px 56px rgb(55 55 55 / 22%);
  border: 1px solid transparent;
  transform: translate(-3px);
  background-color: var(--color-2);
}
